@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
    h2 {
        @apply mb-4 text-2xl font-bold;
    }

    h3 {
        @apply mb-1 font-bold;
    }

    .component-alert-text {
        @apply text-center text-xl font-bold;
    }
}
